<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Visualization</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js" integrity="sha512-4UKI/XKm3xrvJ6pZS5oTRvIQGIzZFoXR71rRBb1y2N+PbwAsKa5tPl2J6WvbEvwN3TxQCm8hMzsl/pO+82iRlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/js/d3.geo.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/map.css">
</head>

<body>
    <%- include('../templates/header.ejs') %>
        <div class="map">
            <div class='div-map' style="overflow: auto;">
                <svg id="india-map">

                </svg>
            </div>
            <div class="detail">
                <p>State Name</p>
                <p>Confirmed</p>
                <p>Recovered</p>
                <p>Active</p>
                <p>Death</p>
            </div>
        </div>
        <%- include('../templates/footer.ejs') %>
            <script defer src="/js/india.js"></script>

</body>

</html>