.map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:768px) {
    .detail {
        width: 100%;
        text-align: center;
        font-size: large;
    }
}

@media (min-width:768px) {
    .detail {
        align-self: center;
        font-size: x-large;
    }
}