body {
    /*background: linear-gradient( rgb(36, 36, 36), rgb(196, 196, 196));*/
    background-color: grey;
    margin: 0px;
}


/*Header and Footer*/

@media (min-width:768px) {
    header .main-header {
        font-size: 28px!important;
    }
}

@media (max-width:768px) {
    header .main-header {
        font-size: medium;
    }
}

header .main-header {
    text-decoration: underline;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgb(255, 0, 0);
}

footer .main-footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.37);
}

footer .main-footer h4 {
    margin: 0px;
}


/*-------------Header and Footer----------------*/


/*Sub-Header*/

.sub-header li {
    list-style: none;
    margin: 80px 0px 80px 0px;
}

.sub-header a {
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px red;
}

.sub-header a:hover {
    color: black;
    animation: none;
    text-shadow: 1px 1px white;
}

@media (min-width:768px) {
    .sub-header a {
        font-size: 42px;
    }
    .sub-header {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width:768px) {
    .sub-header a {
        font-size: 38px;
    }
    .sub-header {
        display: block;
        text-align: center;
    }
}