<header>
    <div class="main-header">
        <h1><a href='/' style="color: rgb(0, 153, 255);text-align: center;">COVID-19 Tracker</a></h1>
    </div>
    <div class='hint'>
        <p class="d_desktop">Hover over for Detail</p>
        <p class="d_mobile">Tap States for Detail</p>
        <a href='/'><i class="fas fa-home" style="margin: 20px 10px 0px 0px;"></i></a>
    </div>
</header>